<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <% include ./includes/header.ejs %>
</head>
<body>
        <% include ./includes/navbar.ejs %>

 <main>    
        <div class="container">
        <section class="text-center my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">Our pricing plans</h2>
                <!-- Section description -->
                <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>
              
                <!-- Grid row -->
                <div class="row">
              
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
              
                    <!-- Card -->
                    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">
              
                      <!-- Pricing card -->
                      <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">
              
                        <!-- Content -->
                        <div class="card-body">
                          <h5>Basic</h5>
              
                          <!-- Price -->
                          <div class="price pt-0">
                            <h2 class="number mb-0">10</h2>
                          </div>
              
                          <ul class="striped mb-0">
                            <li>
                              <p><strong>1</strong> project</p>
                            </li>
                            <li>
                              <p><strong>100</strong> components</p>
                            </li>
                            <li>
                              <p><strong>150</strong> features</p>
                            </li>
                            <li>
                              <p><strong>200</strong> members</p>
                            </li>
                            <li>
                              <p><strong>250</strong> messages</p>
                            </li>
                          </ul>
                          <a class="btn btn-outline-white">Buy now</a>
              
                        </div>
                        <!-- Content -->
              
                      </div>
                      <!-- Pricing card -->
              
                    </div>
                    <!-- Card -->
              
                  </div>
                  <!-- Grid column -->
              
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
              
                    <!-- Card -->
                    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">
              
                      <!-- Pricing card -->
                      <div class="text-white text-center pricing-card d-flex align-items-center rgba-teal-strong py-3 px-3 rounded">
              
                        <!-- Content -->
                        <div class="card-body">
                          <h5>Pro</h5>
              
                          <!-- Price -->
                          <div class="price pt-0">
                            <h2 class="number mb-0">20</h2>
                          </div>
              
                          <ul class="striped mb-0">
                            <li>
                              <p><strong>3</strong> project</p>
                            </li>
                            <li>
                              <p><strong>200</strong> components</p>
                            </li>
                            <li>
                              <p><strong>250</strong> features</p>
                            </li>
                            <li>
                              <p><strong>300</strong> members</p>
                            </li>
                            <li>
                              <p><strong>350</strong> messages</p>
                            </li>
                          </ul>
                          <a class="btn btn-outline-white">Buy now</a>
              
                        </div>
                        <!-- Content -->
              
                      </div>
                      <!-- Pricing card -->
              
                    </div>
                    <!-- Card -->
              
                  </div>
                  <!-- Grid column -->
              
                  <!-- Grid column -->
                  <div class="col-lg-4 col-md-6">
              
                    <!-- Card -->
                    <div class="card card-image" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(6).jpg');">
              
                      <!-- Pricing card -->
                      <div class="text-white text-center pricing-card d-flex align-items-center rgba-stylish-strong py-3 px-3 rounded">
              
                        <!-- Content -->
                        <div class="card-body">
                          <h5>Enterprise</h5>
              
                          <!-- Price -->
                          <div class="price pt-0">
                            <h2 class="number mb-0">30</h2>
                          </div>
              
                          <ul class="striped mb-0">
                            <li>
                              <p><strong>5</strong> project</p>
                            </li>
                            <li>
                              <p><strong>300</strong> components</p>
                            </li>
                            <li>
                              <p><strong>350</strong> features</p>
                            </li>
                            <li>
                              <p><strong>400</strong> members</p>
                            </li>
                            <li>
                              <p><strong>450</strong> messages</p>
                            </li>
                          </ul>
                          <a class="btn btn-outline-white"> Buy now</a>
              
                        </div>
                        <!-- Content -->
              
                      </div>
                      <!-- Pricing card -->
              
                    </div>
                    <!-- Card -->
              
                  </div>
                  <!-- Grid column -->
              
                </div>
                <!-- Grid row -->
              
              </section>
              </div>
              <!-- Container div-->
            <!-- Grid row -->
<div class="row">

        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/A3PDXmYoF5U" allowfullscreen></iframe>
                            </div>
    
                        </div>
    
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
    
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-1.jpg" alt="video" data-toggle="modal" data-target="#modal1"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wTcNtgA6gHs" allowfullscreen></iframe>
                            </div>
    
                        </div>
    
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
            
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-2.jpg" alt="video" data-toggle="modal" data-target="#modal6"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
                            </div>
    
                        </div>
    
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
            
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-3.jpg" alt="video" data-toggle="modal" data-target="#modal4"></a>
    
        </div>
        <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
    
    <!-- Grid row -->
    <div class="row">
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GUEZCxBcM78" allowfullscreen></iframe>
                            </div>
    
                        </div>
    
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
            
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg" alt="video" data-toggle="modal" data-target="#modal2"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PjGkVCAo8Fw" allowfullscreen></iframe>
                            </div>
    
                        </div>
    
                        <!--Footer-->
                        <div class="modal-footer justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
    
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-5.jpg" alt="video" data-toggle="modal" data-target="#modal5"></a>
    
        </div>
        <!-- Grid column -->
    
        <!-- Grid column -->
        <div class="col-lg-4 col-md-6 mb-4">
    
            <!--Modal: Name-->
            <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
    
                    <!--Content-->
                    <div class="modal-content">
    
                        <!--Body-->
                        <div class="modal-body mb-0 p-0">
    
                            <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gsNY7TV4r1M" allowfullscreen></iframe>
                            </div>
    
                        </div>
                        
                        <!--Footer-->
                        <div class="modal-footer d-block d-md-flex justify-content-center">
                            <span class="mr-4">Spread the word!</span>
                            <a type="button" class="btn-floating btn-sm btn-fb"><i class="fa fa-facebook"></i></a>
                            <!--Twitter-->
                            <a type="button" class="btn-floating btn-sm btn-tw"><i class="fa fa-twitter"></i></a>
                            <!--Google +-->
                            <a type="button" class="btn-floating btn-sm btn-gplus"><i class="fa fa-google-plus"></i></a>
                            <!--Linkedin-->
                            <a type="button" class="btn-floating btn-sm btn-ins"><i class="fa fa-linkedin"></i></a>
    
                            <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
    
                        </div>
    
                    </div>
                    <!--/.Content-->
    
                </div>
            </div>
            <!--Modal: Name-->
            
            <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-6.jpg" alt="video" data-toggle="modal" data-target="#modal3"></a>
    
        </div>
        <!-- Grid column -->
    
    </div>
    <!-- Grid row -->
              
            </main>   

</body>
</html>